@import url(normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  color: #181818;
  font-family: 'Noto Sans KR', sans-serif; /* Noto Sans KR 웹폰트 링크 연결 */
  font-weight: 400;
}
/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute; /*레이어함*/
  width: 1px;
  height: 1px;
  overflow: hidden; /*넘치는 것 감추기*/
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}
/* clearfix */
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
/* header 초기화 */
h1,
h2,
h3 {
  margin: 0;
}
/*ul 초기화 */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 앵커 태그 초기화 */
a {
  text-decoration: none;
  color: inherit;
}
/* 버튼 초기화 */
button {
  border: 0;
}
/* dl, dd 초기화 */
dl,
dd {
  margin: 0;
  padding: 0;
}
/* fieldset 초기화 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
/* figure 초기화 */
figure {
  margin: 0;
}
body {
  overflow-x: hidden;
}
/*header*/
.header {
  position: sticky;
  top: 0;
}

.header .inner {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  transition: 2s;
  width: 100%;
}
.header .inner.isBack {
  background-color: #000;
  color: #eee;
}
.menu-list {
  display: flex;
}
.menu-list li {
  text-align: left;
}
.menu-list a {
  display: block;
  text-align: left;
  /* border: 1px solid; */
  justify-content: flex-start;
  padding: 10px 15px;
  margin-right: 10px;
  position: relative;
}
.menu-list li:hover {
  border-bottom: 2px solid #aaa;
}
.menu-list a::before {
  content: '';
  width: 12px;
  height: 10px;
  top: 60%;
  transform: translateY(-50%);
  right: -5px;
  background-image: url('./images/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}
.menu-list a {
  display: block;
  padding: 10px 20px;
}
.menu-list a:hover {
  border-bottom: 2px solid #aaa;
}
.img {
  width: 70px;
  height: 70px;
}
.user-list {
  display: flex;
}
.user-list a {
  display: block;
  padding: 10px 20px;
}
.user-list a:hover {
  border-bottom: 2px solid #aaa;
}

/*section*/

.section {
  display: flex;
  /* overflow: hidden; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: 2s;
  background-color: #fff;
}

.section .section__list {
  display: flex;
  width: 100%;
  justify-content: center;
}
.section__list li {
  width: 100%;
  color: #1c6bba;
}
.section__list a {
  display: block;
  padding: 35px 0;
  text-align: center;
  border: 1px solid #aaa;
  border-right: none;
}
.section__list li:last-child a {
  border-right: 1px solid #aaa;
}

.section.setBottom {
  transform: translateY(0%);
}

/* 메인 */
.main {
  background-color: lightgray;
}

/* 회사 소개 */
.introduce {
  background-color: yellow;
  background-image: url(./images/sup00164_1921.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  padding-left: 50px;
}
.introduce__company {
  color: #fff;
  padding-top: 200px;
  font-weight: 300;
  margin-bottom: 30px;
}
.introduce__company dt {
  font-size: 3em;
  margin-bottom: 30px;
}
.introduce__company dd {
  font-size: 1.2em;
}
.btn__link1,
.btn__link2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 55px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.2em;
  transition: all 500ms;
  position: relative;
  padding-right: 10px;
}
.btn__link1::after {
  content: '>';
  position: absolute;
  right: 25px;
  font-weight: 700;
}
.btn__link2::after {
  content: '>';
  position: absolute;
  right: 15px;
  font-weight: 700;
  transition: all 300ms;
}
.btn__link1:hover {
  background-color: #fff;
  color: #000;
}
.btn__link1:hover::after,
.btn__link2:hover::after {
  transform: translateX(3px);
}
.btn__link1 {
  float: left;
}
.btn__link2 {
  float: left;
  border: 0;
}

/* 새 상품 */
.introduce__list .newArrival {
  background-color: pink;
}
.thi_part {
  background-color: tomato;
}
/* Footer styling */

.footer {
  background-color: #000;
  color: #fff;
  padding: 80px 0;
}

.footer-menu {
  width: 600px;
  margin: 0 auto;
}

.footer-menu ul {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.footer-menu li {
  display: inline-block;
  padding: 10px 0;
}

.footer-menu li a {
  text-align: center;
  display: block;
  padding: 10px;
  font-size: 1.5rem;
  position: relative;
}

.footer-menu li a::after {
  content: '〉';
  top: 0;
  right: -3px;
  position: absolute;
  width: 10px;
  height: 35px;
  line-height: 35px;
}

.SNS {
  width: 600px;
  margin: 20px auto;
  text-align: center;
  transform: scale(1.8);
}

.SNS li {
  padding: 0 5px;
  display: inline-block;
}

.SNS li a {
  display: block;
}

.footer-info {
  text-align: center;
}

.point {
  font-size: 2rem;
}

.point p {
  display: block;
}

.point a {
  text-align: center;
  display: inline-block;
  padding: 10px;
  font-size: 1.5rem;
  position: relative;
}

.point a::after {
  content: '〉';
  top: 0;
  right: -3px;
  position: absolute;
  width: 10px;
  height: 35px;
  line-height: 35px;
}

.footer-info > p {
  font-size: 0.9rem;
  padding: 20px 0;
}

.footer-info > ul > li {
  display: inline-block;
}

.footer-info > ul > li::after {
  content: 'l';
  padding: 10px;
}
.footer-info > ul > li:last-child::after {
  content: '';
  padding: 0;
}

.footer-info > span {
  display: block;
  width: 200px;
  height: 55px;
  margin: 20px auto;
  line-height: 55px;
  letter-spacing: 10px;
  font-size: 4rem;
  font-family: 'Suez One', serif;
}

.top-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 55px;
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #fff;
  background-color: transparent;
}

.top-button::after {
  content: '〈';
  transform: translateX(10px) rotate(90deg);
  color: inherit;
  display: inline-block;
}
